<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body class="bg-red">
    <!-- nav -->
    <nav class="flex items-center justify-center h-8 py-10 bg-red border-b border-cream">
        <h2 class="text-xl rounded-xl font-semibold py-1 px-3 text-red bg-cream">FoodieFaves</h2>
    </nav>
    <!-- Section -->
    <!-- content -->
    <section>
        <div class="container content-center flex flex-col justify-center align- bg-blue-400 py-10 px-5 gap-5">
            <!-- title -->
            <h1 class="text-cream font-semibold text-5xl text-center  tracking-wide leading-relaxed">Food Recipes</h1>
            <!-- recipes List -->
            <div  class="container bg-slate-500 ">
                <div id="mealList" class="flex flex-wrap gap-4">
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../api.js"></script>
</body>
</html>