<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <!-- nav -->
    <nav class="flex items-center justify-center h-8 py-10 bg-red border-b border-cream">
        <h2 class="text-xl rounded-xl font-semibold py-1 px-3 text-red bg-cream">FoodieFaves</h2>
    </nav>

    <section>
        <div class="container content-center flex flex-col justify-between items-center bg-blue-400 py-10  px-5 gap-9">
            <!-- text -->
            <p class="text-cream font-normal  italic text-sm text-center  tracking-wide leading-relaxed">Food Recipes</p>
            <!-- meals title -->
            <h1 id="detailTitle" class="font-semibold text-center text-3xl text-cream">Lorem ipsum dolor sit amet.</h1>

            <img id="detailImg" src="" alt="" class="w-screen h-64">

            <!-- Ingridient -->
            <div class="ingridient container flex flex-col justify-start gap-5">
                <p class="text-cream text-xl pb-5 border-b border-cream  font-semibold">Ingridients</p>
                <p  id="detailInstruct" class="text-sm font-normal text-cream tracking-wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quod nemo aliquam voluptate id, debitis rerum possimus sit sequi! Adipisci ad porro maxime enim exercitationem libero! Commodi corporis ratione blanditiis error ipsam sed velit esse hic expedita ullam? Reprehenderit illum hic ipsam earum quos! Dolor expedita iste nobis ut perferendis esse similique ex laudantium qui saepe. Fugit, quae ipsa in incidunt amet nemo nisi exercitationem excepturi at dignissimos inventore doloremque est ducimus, hic modi, dolores velit? Quia perspiciatis dolorum impedit commodi libero iste enim autem sit, accusamus porro dignissimos, doloremque adipisci nobis voluptatum quos minus natus. Inventore pariatur ratione provident?</p>
            </div>

            <!-- instruction -->
            <div class="instruction container flex flex-col justify-start gap-5">
                <p class="text-cream text-xl pb-5 border-b border-cream  font-semibold">instruction</p>
                <p  id="detailInstruct" class="text-sm font-normal text-cream tracking-wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quod nemo aliquam voluptate id, debitis rerum possimus sit sequi! Adipisci ad porro maxime enim exercitationem libero! Commodi corporis ratione blanditiis error ipsam sed velit esse hic expedita ullam? Reprehenderit illum hic ipsam earum quos! Dolor expedita iste nobis ut perferendis esse similique ex laudantium qui saepe. Fugit, quae ipsa in incidunt amet nemo nisi exercitationem excepturi at dignissimos inventore doloremque est ducimus, hic modi, dolores velit? Quia perspiciatis dolorum impedit commodi libero iste enim autem sit, accusamus porro dignissimos, doloremque adipisci nobis voluptatum quos minus natus. Inventore pariatur ratione provident?</p>
            </div>
            <!-- Tutorials -->
            <div class="tutorial container flex flex-col justify-start gap-5">
                <p class="text-cream text-xl pb-5 border-b border-cream  font-semibold">Watch Tutorials</p>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../api.js"></script>
</body>
</html>